*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  
  /* GRID */
  .container{ 
    max-width:120rem;
    margin: 0 auto;
    padding: 1.5rem;
  }

  /* HEADER */
  .header{
    /* background:var(--dark); */
    position:fixed;
    width:100%;
    transform:translateY(5rem);
  }
  .header .header__nav ul{
    display:flex;
  }
  .header .header__nav ul li{
    /* background:var(--light); */
    padding:1rem;
  }
  .header .header__nav ul li a{
    color:var(--light);
  }
  .header .header__nav ul li:hover{
    background:var(--light);
    border-radius:1rem;
  }
  .header .header__nav ul li:hover a{
    color:var(--primary);
  }
  .header .header__wrapper{
    display: flex;
    align-items:center;
    justify-content:space-between;
  }
  .header .burgir__menu{
    display:none;
  }
  .header .burgir__menu span{
    width:3rem;
    height:0.3rem;
    background-color:var(--light);
    display:block;
    border-radius:5rem;
    transition:0.5s ease;
  }
  .header .burgir__menu span:nth-child(2){
    margin:0.8rem 0;
  }
  .header .burgir__menu.open span:first-child{
    transform: translateY(1.2rem) rotate(225deg);
    transition:0.5s ease;
  }
  .header .burgir__menu.open span:nth-child(2){
    opacity:0;
  }
  .header .burgir__menu.open span:last-child{
    transform: translateY(-1.1rem) rotate(-225deg);
    transition:0.5s ease;
  }
  .header .header__nav.open{
    right:0rem; 
    transition:0.5s ease;
  }
  @media screen and (max-width:500px){
    .header{
      background:var(--dark);
      transform:translateY(0rem);
    }
     .header .header__nav{
        background:var(--dark);
        position:absolute;
        top:10.2rem;
        right:-100rem;
        width:100%;
        height:100vh;
        border-top:1px solid var(--light); 
        transition:0.5s ease;
     }
     .header .header__nav ul{
      display:flex;
      flex-direction:column;
      text-align:center;
      padding-top:8rem;
      gap:3rem;
     }
     .header .header__nav ul ul li{
      width:20rem; 
      margin:0 auto; 
      font-size:2.5rem;
     }
     .header .burgir__menu{
        display:block;
     }
  }

  /* BANNER */
  .banner{
background-image: url("/img/banner-img.png");
background-size:cover;
background-repeat:no-repeat;
background-position:center;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
  }
.banner h1{
  color:var(--light);
  font-size:8rem;
  max-width:80rem;
  text-align:center;
}
.banner .banner__btn{
  display:flex;
  gap:5rem;
  margin-top:5rem;
  justify-content:center;
}
.banner .banner__btn a{
  width:20rem;
}
@media screen and (max-width:500px){
  .banner h1{
    font-size:6rem;
  }
  .banner .banner__btn{
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    align-items:center;
  }
  .banner .banner__btn a{
    width:70%;
  }
}

/* SERVICES */
.services{
  padding:5rem 0;

}
.services .services__wrapper{
  display:grid;
  grid-template-columns:50% 50%;
  grid-gap:10rem;
  align-items:center;
  justify-content:center;
  text-align:center;

}
.services .services__card{
  padding:3rem;
  text-align:center;
  border-radius:1rem;
  transition:0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.services .services__card:hover{
  scale:1.1;
  transition:0.5s ease;
  background:var(--dark);
}
.services .services__card:hover h3,.services .services__card:hover p{
  color:var(--light);
}
.services h2{
  font-size:7rem;
  font-weight:100;
  letter-spacing:3rem;
}
.services .services__title{
  display:flex;
  align-items:center;
  gap:2rem;
  justify-content:center;
}
.services .services__title i{
color:var(--primary);
font-size:3.5rem;
}

.services .services__title{
  font-size:2.5rem;
  font-weight:600;  
}
.services .services__card p{
margin:2rem 0;
text-align:justify;
}
@media screen and (max-width:500px){
.services .services__wrapper{
  display:grid;
  grid-template-columns:100%;
  padding:1.5rem;
}
.services h2{
  font-size:5rem;
  
}
}
/* REPEATABLE PATTERNS */
  :root {
    --primary: #fb4d3d;
    --light: #ffffff;
    --dark: #2b2b2b;
    --transparent: transparent;
}
.btn{
  display:inline-block;
  border:1px solid transparent; 
  padding:1.5rem 2rem;
  border-radius:5rem;
  text-align:center;
  transition:0.5s ease;
}
.btn:hover{
  scale:1.1;
  transition:0.5s ease;
}
.btn.bg--primary{
  background:var(--primary);
  color:var(--light)
}
.btn.bg--outline{
  color:var(--light);
  border:1px solid var(--light);
}